<h1 mat-dialog-title>Ajouter Outil</h1>
<div class="wrapper" mat-dialog-content>
    <form [formGroup]="outil">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Outil</mat-label>
            <input matInput formControlName="nom" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button type="submit" [mat-dialog-close]="outil.value.nom" color="primary" [disabled]="outil.invalid">Valider</button>
</div>