.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
        width: 40%;
        height: auto;
        margin-bottom: 5rem;
    }
    .download {
        align-self: flex-end;
    }
}