.login {
    min-height: 60vh;
}

.cont {
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.logo {
    height: 150px;
    margin-bottom: 20px;
}