.wrapper {
    padding: 0;
    margin: 0;
    max-height: 90vh;
    min-height: 50vh;
    max-width: 80vw;
    min-width: 70vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

mat-form-field {
    display: block;
    width: 100%;
}

.flex-helper {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left-helper {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}