<div class="row wrapper" *ngIf="data != undefined; else Turn">
    <div class="col-3 user-list card">
        <h3 class="text-primary text-center">Utilisateurs</h3>
        <mat-action-list class="" #UserList name="UserList">
            <mat-action-option *ngFor="let user of users; let i=index;" [value]="user">
                <div class="flex-helper">
                    <button mat-list-item (click)="onNameClick(this.user, i)">
                        {{user.name}}
                    </button>
                    <div class="left-helper">
                        <button mat-list-item>
                            <fa-icon class="text-primary" [icon]="modify"></fa-icon>
                        </button>
                        <button mat-list-item (click)="onClickDeleteUser(user)">
                            <fa-icon class="text-danger"  [icon]="delete"></fa-icon>
                        </button>
                    </div>
                </div>
            </mat-action-option>
        </mat-action-list>
    </div>
    <div class="col-9 user-details card">
        <div *ngIf="isUndefined(selectedObj); else Block">
            <div class="row pt-3 content-container d-flex justify-content-center">
                <div class="col-12 name container">
                    <h3 class="text-center text-primary">Liste des Sites Autorisé:</h3>
                    <a class=" btn btn-sm btn-primary text-white" (click)="openDialog(selectedId)">
                        <fa-icon class=" fa-sm text-white" [icon]="add"></fa-icon> Ajouter un Site
                    </a>
                </div>
                <div class="container list">
                    <mat-action-list #PermissionsList>
                        <mat-action-option *ngFor="let perm of data.utilisateurs[selectedId].sites_autorises">
                            <div class="flex-helper">
                                {{perm.name}}
                                <button mat-icon-button class="" (click)="onClickDeletePermission(perm, data.utilisateurs[selectedId])">
                                    <fa-icon class="text-danger" [icon]="delete"></fa-icon>
                                </button>
                            </div>
                        </mat-action-option>
                    </mat-action-list>
                </div>
            </div>
        </div>
        <ng-template #Block>
            <h4 class="pt-5 pl-3 text-dark">veuillez sélectionner un utilisateur pour obtenir plus de détails</h4>
        </ng-template>
    </div>
</div>
<ng-template #Turn>
    <div class="turner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>