<h2 mat-dialog-title>Ajouter Action</h2>
<mat-dialog-content class="mat-typography">
    <div class="row cont">
        <div class="col-4">
            <mat-selection-list #list [(ngModel)]="action" [multiple]="false">
                <h5 class="text-info">Choisissez l'une des actions.</h5>
                <mat-list-option *ngFor="let action of actions" [value]="action">
                    {{action}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="col-8">
            <div *ngIf="action == 'Notification'" class="d-flex flex-column">
                <form [formGroup]="notificationGroup">
                    <mat-form-field appearance="fill">
                        <mat-label>Texte de Notification</mat-label>
                        <textarea matInput formControlName="texte"></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Liste De Recepteurs</mat-label>
                        <mat-chip-list multiple #chipList>
                            <mat-chip *ngFor="let recepteur of recepteurs" [selectable]="selectable" [value]="recepteur" [removable]="removable" (removed)="remove(recepteur)">
                                {{recepteur}}
                                <fa-icon matChipRemove [icon]="cancel" *ngIf="removable"></fa-icon>
                            </mat-chip>
                            <input #recepteurInput placeholder="Nouveau Recepteur..." [matAutocomplete]="auto1" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedNotification($event)">
                            <mat-option *ngFor="let responsable of filteredResponsablesNotif | async" [value]="responsable.id">
                                {{responsable.email}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Criticité</mat-label>
                        <mat-select formControlName="criticalite">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div *ngIf="action == 'Alerte'" class="d-flex flex-column">
                <form [formGroup]="alerteGroup">
                    <quill-editor matInput formControlName="texte" [modules]="quillConfiguration" class=" p-2 mb-3" placeholder="Texte d'alerte"></quill-editor>
                    <mat-form-field appearance="fill">
                        <mat-label>Liste De Recepteurs</mat-label>
                        <mat-chip-list multiple #chipList>
                            <mat-chip *ngFor="let recepteur of recepteurs" [selectable]="selectable" [value]="recepteur" [removable]="removable" (removed)="remove(recepteur)">
                                {{recepteur}}
                                <fa-icon matChipRemove [icon]="cancel" *ngIf="removable"></fa-icon>
                            </mat-chip>
                            <input #recepteurInput placeholder="Nouveau Recepteur..." [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedAlerte($event)">
                            <mat-option *ngFor="let responsable of filteredResponsablesAlerte | async" [value]="responsable.email">
                                {{responsable.email}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Criticité</mat-label>
                        <mat-select formControlName="criticalite">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="actionToReturn" [disabled]="disable()">Valider</button>
</mat-dialog-actions>