table {
    width: 100% !important;
}

.cont {
    border-radius: 2em;
    background-color: rgb(255, 255, 255);
}

.mat-table {
    background-color: transparent !important;
}

.mat-paginator {
    background-color: transparent !important;
}

.mat-paginator-container {
    border-collapse: collapse;
    border-radius: 0 0 2em 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2em 2em 0 0;
}

table tr:last-child td
/*To remove the last border*/

{
    border-bottom: 0 solid
}

.turner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 45% !important;
    flex-grow: 10;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 45% !important;
    flex-grow: 10;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-cell:last-child,
.mat-header-cell:last-child {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}