.cap {
    width: 12rem;
    height: 12rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
    .card {
        width: 15%;
    }
}

.con {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

mat-card-content {
    text-align: center;
}

.battery-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    p {
        margin-right: 1rem;
    }
    fa-icon {
        margin-right: 1rem;
    }
}

.floated-left {
    float: left;
    top: 50vh;
    z-index: 10;
}

.floated-right {
    float: right;
    top: 50vh;
    z-index: 10;
}