<div class="ui segment">
    <div class="row">
        <div class="ui cards d-flex flex-row flex-wrap justify-content-around w-100">

            <div class="ui card col-3 ml-2 mr-2 mb-3 border-left-primary shadow" *ngIf="energy">
                <div class="card-body">
                    <div class="row no-gutters align-items-primary flex-nowrap">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Production Instantané
                            </div>
                            <div class="row">
                                <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{prod}} kWh/Jr</h1>
                                <!-- <div class="col">
                                    <div class="centered" style="width: fit-content; margin-bottom: 10px;"> -->
                                <!--  <span *ngIf="taux" style="color:rgb(255, 255, 255);font-size: 13px; margin-left: 10px;" >Max: {{taux[0].max}} °C</span><b style="padding-left:2em;" > </b>
                                                    <span *ngIf="taux" style="color:rgb(255, 255, 255);font-size: 13px;">Min: {{taux[0].min}} °C</span>-->
                                <!-- </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="prod_icon" class="fa-2x text-gray-300"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui card col-3 ml-2 mr-2 mb-3 border-left-success shadow" *ngIf="silo">
                <div class="card-body">
                    <div class="row no-gutters align-items-primary flex-nowrap">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Niveau Silo
                            </div>
                            <div class="row">
                                <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{silo.niveau}} %</h1>
                                <div class="col">
                                    <div class="centered">
                                        <!-- <span *ngIf="taux" style="color:rgb(255, 255, 255);font-size: 13px; margin-left: 10px;" >Max: {{taux[0].max}} °C</span><b style="padding-left:2em;" > </b>
                                            <span *ngIf="taux" style="color:rgb(255, 255, 255);font-size: 13px;">Min: {{taux[0].min}} °C</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="silo_icon" class="fa-2x text-gray-300"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui card col-3 ml-2 mr-2 mb-3 border-left-warning shadow" *ngIf="ballon">
                <div class="card-body">
                    <div class="row no-gutters align-items-primary flex-nowrap">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Ballon
                            </div>
                            <div class="row">
                                <h2 class="h5 mb-0 font-weight-bold text-gray-800">{{ballon.pression}} Bar <br> {{ballon.temperature}} °C</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="ballon_icon" class="fa-2x text-gray-300"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui card col-3 ml-2 mr-2 mb-3 border-left-primary shadow" *ngIf="server">
                <div class="card-body">
                    <div class="row no-gutters align-items-center flex-nowrap">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Température
                            </div>
                            <div class="" *ngIf="temperature">
                                <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{temperature}} °C
                                </h1>
                            </div>
                             <div class="">
                            <div class="" style="width: fit-content;">
                                <span *ngIf="taux" class="text-info" style="font-size: 13px; margin-left: 10px;">Max: {{taux[0].max}} °C</span><b style="padding-left:2em;"></b>
                                <span *ngIf="taux" class="text-info" style="font-size: 13px;">Min: {{taux[0].min}} °C</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="temp_icon" class="fa-2x text-gray-300"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui card col-3 ml-2 mr-2 mb-3 border-left-success shadow" *ngIf="server">
                <div class="card-body">
                    <div class="row no-gutters align-items-center flex-nowrap">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Humidité
                            </div>
                            <div class="" *ngIf="humidite">
                                <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{humidite}} %</h1>
                                 <div class="col">
                                    <div class="centered" style="width: fit-content;margin-bottom: 10px;">
                                        <span *ngIf="taux" style="color:rgb(255, 255, 255);font-size: 13px; margin-left: 10px;">Max:
                                                                            {{taux[1].max}} %</span><b style="padding-left:2em;">
                                                                    </b>
                                        <span *ngIf="taux" style="color:rgb(255, 255, 255);font-size: 13px;">Min:
                                                                            {{taux[1].min}} %</span>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="humidity_icon" class="fa-2x text-gray-300"></fa-icon>
                        </div>
                    </div>
                </div>
                 <div class="" *ngIf="humidite">
                    <h1 style="color: aliceblue;text-align: center;width: 100%;">{{humidite}} %</h1>
                    <div class="col">
                        <div class="centered" style="width: fit-content;margin-bottom: 10px;">
                            <span *ngIf="taux" style="color:rgb(255, 255, 255);font-size: 13px; margin-left: 10px;">Max:
                                                                {{taux[1].max}} %</span><b style="padding-left:2em;">
                                                        </b>
                            <span *ngIf="taux" style="color:rgb(255, 255, 255);font-size: 13px;">Min:
                                                                {{taux[1].min}} %</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="ui card col-3 ml-2 mr-2 mb-3 border-left-warning shadow" *ngIf="eau" [ngStyle]="">
                <div class="card-body">
                    <div class="row no-gutters align-items-primary flex-nowrap">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Fuite d'eau
                            </div>
                            <div class="" *ngIf="humidite">
                                <h3 style="h5 mb-0 font-weight-bold text-gray-800">{{title}}</h3>
                                <div class="">
                                    <div class="" style="">
                                        <span style="h5 mb-0 font-weight-bold text-gray-800">{{live}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="fuite_icon" class="fa-2x text-gray-300"></fa-icon>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px; width: 100%;">
        <div class="col" style="min-width: 90%!important;">
            <h1><a href="https://admin.viatoile.com/#/clients/chaudiere/{{chaudiere.id}}/brute" target="_blank" >Chaudière</a></h1>
        </div>
        

    </div>
    <div class="row">

        <div class="col d-flex justify-content-center" style="max-width: 70% !important;">
            <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [animations]="true" [results]="single" [legend]="legend" [angleSpan]="260" [startAngle]="-130" [max]="250" [showText]="false" [legendTitle]="legendtext" [valueFormatting]="format" [legendPosition]="legendPosition" (select)="onSelect($event)">
            </ngx-charts-gauge>

        </div>

        <div class="col d-flex justify-content-center">

            <ngx-charts-gauge [view]="view" [scheme]="colorSchemeDepression" [animations]="true" [results]="dataDepression" [legend]="legend" [angleSpan]="260" [startAngle]="-130" [max]="100" [legendTitle]="Depression" [showAxis]="true" [valueFormatting]="formatD" (select)="onSelect($event)"
                [legendPosition]="legendPosition">
            </ngx-charts-gauge>
        </div>
        <div class="col d-flex justify-content-center">

            <ngx-charts-gauge [view]="view" [scheme]="colorSchemeLumiere" [animations]="true" [results]="dataLumiere" [legend]="legend" [angleSpan]="260" [startAngle]="-130" [max]="100" [legendTitle]="Lumiere" [showAxis]="true" [valueFormatting]="formatL" [legendPosition]="legendPosition" (select)="onSelect($event)">
            </ngx-charts-gauge>
        </div>

    </div>
</div>