
<div class="container-fluid">
<!--Global Container-->
<div class="row">
    <!--Profile Section-->
    <div class="col-lg-5">
        <div class="m-1 profile-card">
            <div class="text-center h3 my-4">{{user.name}} {{user.prenom}}</div>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="ui card border-left-primary shadow">
                        <div class="card-body">
                            <div class="row align-items-primary flex-nowrap">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Site
                                    </div>
                                    <div class="row">
                                        <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{sites[0].name}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ui card border-left-primary shadow">
                        <div class="card-body">
                            <div class="row align-items-primary flex-nowrap">
                                <div class="col">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Site Parent
                                    </div>
                                    <div class="row">
                                        <h1 class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="siteParent">{{siteParent.name}}</h1>
                                        <h1 class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="!siteParent">Aucun</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui card mb-1 border-left-primary shadow">
                <div class="card-body">
                    <div class="row align-items-primary flex-nowrap">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                GSM
                            </div>
                            <div class="row">
                                <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{user.gsm}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui mb-1 card border-left-primary shadow">
                <div class="card-body">
                    <div class="row align-items-primary flex-nowrap">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Email
                            </div>
                            <div class="row">
                                <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{user.email}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui card mb-1 border-left-primary shadow">
                <div class="card-body">
                    <div class="row align-items-primary flex-nowrap">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Type Compte
                            </div>
                            <div class="row">
                                <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{getAcountType()}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Sites Section-->
    <div class="col-lg-7 p-2">
        <h1 class="h3 mb-0 mb-2 text-gray-800">Sites</h1>  
          
        <div *ngFor="let s of sites" class="ui card mb-1 border-left-primary shadow">
            <div class="card-body">
                <div class="row align-items-primary flex-nowrap">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{s.name}}
                        </div>
                        <div class="row">
                            <h1 class="h5 mb-0 font-weight-bold text-gray-800">{{s.description}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
</div>
